*{
  font-family: 'Roboto', sans-serif;
  color:grey; 
}

table {
	margin: 4vh auto;
	border-collapse: collapse;
}

tr {border-bottom: 1px solid #cceecc;}

th {border-bottom: 2px solid #cceecc;}
th, td {padding: 0.5rem 2vw;}
td {text-align: center;}
th:nth-of-type(1), td:nth-of-type(1) {text-align: left;}

.logo_compare{
  width:15rem;
  padding:2rem;
  padding-bottom: 0;
}

.check_compare{
  width:2rem;
}
.x_compare{
  width:1.5rem;
  height: 1.5rem;
}
td{
  font-weight: 300;
  padding-top:1rem;
}

button.green_compare {
 position: relative;
 height: 36px;
 width: 118px;
 margin: 5px 8px;
 padding: 4px 5px;
 font-family: 'Roboto', sans-serif;
 font-weight: 400;
 font-size: 14px;
 color:white;
 box-shadow: 0 1px 2px 0 rgba(112,112,112,0.50);
 border: 1px #6DD852 solid;
 border-radius: 3px;
 outline: 0;
 overflow:hidden;
 background-color:#6DD852;
 z-index: 1;
 cursor: pointer;
 transition:         0.88s ease-in;
 -o-transition:      0.98s ease-in;
 -ms-transition:     2.38s ease-in;
 -moz-transition:    0.48s ease-in;
 -webkit-transition: 0.48s ease-in;
}

.fill.green_compare:hover {
  color: #D3D3D3;
}

.fill.green_compare:before {
  content: "";
  position: absolute; 
  align-items:center;
  background:white;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.fill.green_compare:hover:before {
  top: 0;
}

button.grey_compare {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #d3d3d3;
    cursor: pointer;
}



.main_compare{
    font-family: 'Helvetica Neue',sans-serif;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    border-width: 50px;
    border-color: #ffffff;
    box-shadow: 6px 6px 40px 5px rgba(170,170,170,0.3);
    margin-left: 19.5rem;
    margin-right: 19.5rem;
    padding-bottom: 2rem;
}
    
.Blue_compare{
  color: #00b0f0 !important;
}

.thin_compare{
  font-weight: 300;
}

.but_compare{
    text-align: center;
    align-items: center;
    justify-content: center;
}

a{
  text-decoration: none;
  margin-right:1rem;
  font-weight:350;
  font-size:.9rem;
}

small{
  font-size:.2rem;
  padding-bottom:2rem;
  position:absolute;
}

@media (max-width: 64rem) {
  .main_compare{
    margin:4rem;
  }
}

@media (max-width: 48rem) {
  .logo_compare{
    width:12rem;
    padding:1rem;
  }
  .main_compare{
    border-width: 50px;
    border-color: #ffffff;
    box-shadow: 6px 6px 40px 5px rgba(170,170,170,0.3);
    padding-bottom: 2rem;
    margin:0;
  }
}